**/__pycache__
**/*.pyc
/log
*.pyc
__pycache__/custom_logging.cpython-310.pyc
music_playing/__pycache__/audio_handler.cpython-310.pyc
music_playing/__pycache__/audio_handler.cpython-310.pyc
music_playing/__pycache__/audio_handler.cpython-310.pyc
music_playing/__pycache__/audio_handler.cpython-310.pyc

music_playing/__pycache__/audio_handler.cpython-310.pyc
database/test_db.db
database/test_db.db-journal
